
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
body{
    --primary:#0d253f;
    --primary-card:#0d253fe0;
    --secundary:#01b4e4;
    --terc:#90cea1;

    background: #f5f5f5;

}

nav{
    background: var(--primary);
    border-bottom: 2px solid var(--primary);

    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

nav svg{
    width: 200px;

    padding-left: 30px;

}



/* HEADER */
header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#filtro{
    height: 90vh;

    background: rgba(0, 0, 0, 0.75);
}

#info{
    width: 80vw;

    padding: 80px 0 0 30px;

    color: #fff;

}

#info button{
    width: 150px;
    height: 50px;

    margin-top: 10px;

    border: none;
    border-radius: 5px;

    font-size: 16pt;

    background: #888;

    color: #000;

    box-shadow: 2px 2px 5px #000;
}

/* HEADER */



/* CONTEUDO */

main{
    margin-left: 30px;
    
}

.Row{
    overflow-x: hidden;
}

.lista{
    display: flex;
    overflow-x: scroll;

}

.card{
    width: 250px;
    max-height: 480px;

    padding: 25px;
    margin: 10px;

    background: var(--primary-card);

    border-radius: 5px;

}


.titulo{
    letter-spacing: 3px;

    margin: 20px 0;

    color: var(--primary);

    font-weight: 300;
}

.lista img{
    width: 250px;

    border-radius: 3px;

    box-shadow: 2px 2px 5px #191919;

    margin-bottom: 15px;

}

.divinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ano{
    font-weight: bolder;
    font-size: 22px;

    color: var(--secundary);

}

.rate{
    color: #0f0;

    font-weight: 300;

    background: #191919a4;

    padding: 10px;
    
    border-radius: 3px;
}

.more{
    display: none;
}

footer{
    height: 20vh;

    background: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;

    margin-top: 20px;

    padding:20px 0;
}

footer a{
    color: #888;
}

footer svg{
    width: 100px;

    margin-top: 15px;
}


@media (min-width:1024px){
    nav{
        position: fixed;
        z-index: 2;
    }
    header{
        background-position: top;
    }
    #filtro{
        height: 100vh;
    }
    #info{
        width: 55vw;

        padding: 150px 0 0 30px;

    }

    #info h1{
        font-size: 36pt;

        margin-bottom: 10px;
    }

    #info p{
        font-size: 18pt;

        margin-bottom: 10px;
    }

    #info button:hover{
        cursor: pointer;
    }

    main{
        padding-top: 20px;
    }
    
       
    .Row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lista{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    
    }

    .lista img:hover{
        cursor: pointer;
        transform: scale(1.01);

        transition: all ease-in-out 0.2s;
        
    }

   .more{
        display: inline-block;

        width: 70%;
        height: 50px;

        margin: 30px auto;

        font-size: 16pt;
        font-weight: 400;

        background: var(--secundary);

        color: #000;

        letter-spacing: 2px;

        border: none;
        border-radius: 5px;

        box-shadow: 2px 2px 5px #000;
   }

   .more:hover{
       cursor: pointer;
   }
}
    

    




